/* *Common shared styles */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500;700&family=Inter:wght@600&family=Open+Sans:wght@400;500;600;700;800&family=Schibsted+Grotesk:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
      color: #00235B;

}

.btn-primary{
    background-color: #f52c2c ;
    color: white;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
    margin-right: 10px;
}

.btn-secondary{
    background-color: white ;
    color: #f52c2c;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
}


/* *Header section style */

/* Navbar Styles */

.nav-container{
    background-color: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-top: 10px;
    padding-left: 200px;
}

.logo-img{
    width: 300px;
}

.menus {
    display: flex;
    gap: 50px;
    margin-right: 200px;
    font-size: 30px;
    font-weight: bold;
  
    
}

/* Banner styles */

.banner-container{
    height: 100vh;
    background-image: url("../assets/images/background.jpg"), linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner-highlight{
    color:#f52c2c;
}
.banner-title{
    color: white;
    font-size: 80px;
}

.banner-description{
    width: 60%;
    margin: auto;
    font-size: 20px;
    color: white;
    margin-top: 20px ;
     margin-bottom: 20px ;
}

.btn-primary{
    background-color: #f52c2c ;
    color: white;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
}

.btn-secondary{
    background-color: white ;
    color: #f52c2c;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
}

/* Service section style */
.services-container{
    display: flex;
    gap: 50px;
    padding: 150px;
    background-color: black;
    align-items: center;
}

.service-title{
    color: white;
}

.service-description{
    color: white;
    margin-bottom: 20px;
}
.service-icon{
    width: 100px;
}

.service-headline{
    color: black;
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 10px;
}

.two-services{
    display: flex;
}
.service{
    width: 350px;
    height: 300px;
    background-color: white;
    text-align: center;
    padding-top: 90px;
    margin-right: 10px;
    justify-content: center;
    border-radius: 5px;
    margin-top: 10px;
}

.service-title{
    font-size: 35px;
    margin: 20px 0;
}

.author-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.author-description{
    color: white;
    margin-left: 15px;
}

.author-container{
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 40px;
}

.author-info{
    border-right: 2px solid #f52c2c ;
    padding-right: 30px;
}

.author-name{
display: flex;
align-items: center;
}

/* Appointment section style */

.appointment-logo{
    width: 100px;
}

.appointment-container{
    width: 80vw;
    height: 25vh;
    margin: 50px auto;
    display: flex;
    align-items: center;
    background-color: #f52c2c ;
    border-radius: 10px;
    padding: 0 100px;
    margin-top: -50px;
   
}

.appointment-description{
    width: 80%;
    margin: auto;
    text-align: center;
    color: white;

    
}

.phone{
     width: 70%;
    display: flex;
    align-items: center;
    gap: 50px;
      border-right:2px solid white ;
    
}

.phone-title{
    font-size: 15px;
    color: white;
}

.number{
    color: white;
    font-size: 30px;
}