/* *Common shared styles */

/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script:wght@400;500;700&family=Inter:wght@600&family=Open+Sans:wght@400;500;600;700;800&family=Schibsted+Grotesk:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;

}

a{
    text-decoration: none;
      color: #00235B;

}

.btn-primary{
    background-color: #f52c2c ;
    color: white;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
    margin-right: 10px;
}

.btn-secondary{
    background-color: white ;
    color: #f52c2c;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
}


/* *Header section style */

/* Navbar Styles */

.nav-container{
    background-color: #BACDDB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding-top: 10px;
    padding-left: 200px;
}

.logo-img{
    width: 300px;
}

.menus {
    display: flex;
    gap: 50px;
    margin-right: 200px;
    font-size: 30px;
    font-weight: bold;
  
    
}

/* Banner styles */

.banner-container{
    height: 100vh;
    background-image: url("../assets/images/background.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.4));
    background-blend-mode: overlay;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.banner-highlight{
    color:#f52c2c;
}
.banner-title{
    color: white;
    font-size: 80px;
}

.banner-description{
    width: 60%;
    margin: auto;
    font-size: 20px;
    color: white;
    margin-top: 20px ;
     margin-bottom: 20px ;
}

.btn-primary{
    background-color: #f52c2c ;
    color: white;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
}

.btn-secondary{
    background-color: white ;
    color: #f52c2c;
    border: 0;
    padding: 10px 35px;
    font-size: 25px;
    border-radius: 3px;
}